@font-face {
    font-family: 'Huawei Sans';
    src: url('HuaweiSans.eot');
    src: url('HuaweiSans.eot?#iefix') format('embedded-opentype'),
        url('HuaweiSans.woff2') format('woff2'),
        url('HuaweiSans.woff') format('woff'),
        url('HuaweiSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

